<ion-view view-title="About Us">

  <ion-content class="padding">
    <img src="img/aboutus.png">

    <p class="helpP">
      <strong>BusTracker</strong> helps to put commuters in contact with each other by sending realtime updates from persons currently on the bus, giving those waiting an accurate idea of the bus' location.
    </p>
      
     
  </ion-content>

    <ion-footer-bar  class="bar-positive" id="footer">
         <div class="buttons">
          <button class="button" ng-click = "gotourl('/help')">Help</button>
        </div>

        <h5 class="title">All rights reserved</h5>

    </ion-footer-bar>
</ion-view>