<ion-view view-title="Help">

  <ion-content class="padding">
    <img src="img/help.png">

   <div id="instructions">

      <strong>Step 1:</strong> 
    	<p class="helpP"> 
    		Select whether you are riding on the bus or waiting on the bus
    	</p>
      <strong>Step 2:</strong> 
      	<p class="helpP">
      		If you are waiting; select whether which route you intend to travel and the loaction of that bus will be displayed. <br><br>

      		If you are riding; sit back and relax, your bus location has been sent to other users. <br>
      	</p>

       <strong>Step 3:</strong>
       	<p class="helpP">
       		All done! 
       	</p>
      
     </div>
  </ion-content>

    <ion-footer-bar  class="bar-positive" id="footer">
    	 <h5 class="title">All rights reserved</h5>

         <div class="buttons">
          <button class="button" ng-click = "gotourl('/aboutus')">About us</button>
        </div>

    </ion-footer-bar>
</ion-view>