<ion-view view-title="Home">

  <ion-content class="padding">
    <h2>BusTracker</h2>
      
          <ion-item href="#/routes">
            <button id ="waiting" class="button button-block button-positive " value="1" ng-click="waiting()">
              <strong>Waiting</strong>
            </button>
          </ion-item>
      
          <ion-item href="#/routes">
            <button id ="riding" class="button button-block button-positive " value="2" ng-click="riding()"> 
              <strong>Riding</strong>
            </button>
          </ion-item>
     
  </ion-content>
</ion-view>


