<ion-view view-title="Home">

  <ion-content class="padding">
    <img src="../images/bustracker.png" id="logo">
      
      <div class="card" ng-click = "gotourl('/routes')">
        <div class="item item-divider">
           <i class="ion-android-time"></i> Waiting
        </div>
        <div class="item item-text-wrap">
          <img src="../images/busstop.jpg">
        </div>
      </div>

    
      <div class="card" ng-click = "gotourl('/routes')">
        <div class="item item-divider">
          <i class="ion-android-bus"></i> Riding
        </div>
        <div class="item item-text-wrap">
          <img src="../images/bus.jpg">
      </div>
    
       
  </ion-content>
</ion-view>