*{
	text-align: center;
}


#logo{
	width: 100%;
	margin: 0 auto;
}

.card img {
	width: 100%;
	opacity: .8;
	padding: 0;
}

 #routecards {
	overflow: initial;
	white-space: initial;
	padding: 15px 20px 20px 15px;
	width: 110%;
	height: 80px;
	margin: 0 auto;
	vertical-align: middle;
	background-color: #f3e78c;
		
}

.item {
	border-style: none;
}

.item {
	padding: 0px;
}

.item.item-divider{
	background-color: #387EF5;
	padding: 10px;
	font-size: 120%;
	color: white;
}